body {
    background-color: white;
}



header {
    background-color: lightslategray;
    text-align: left;
    display: flex;
}

main {
    background-color: lightblue;
}

footer {
    background-color: lightslategray;
    color: white;
}

.welcome {
    
}

.push {
    margin-right: auto;
}